.banner-heading{
    font-size: 90px;
    font-weight: 900;
}
body{
    font-family: "Lato", sans-serif;
    
}
}
.course-icon{
    width: 76px;
    height: 70px;

}
.feature-img{

width: 603px;
height: 338px;
}
